
@{
    ViewBag.Title = "GenerateEMISchedule";
}

<h2>GenerateEMISchedule</h2>

<h2>Generate EMI Schedule</h2>
<p>Session Data: @ViewBag.PlanDetails</p>
<p>Theme Preference (from Cookie): @ViewBag.ThemePreference</p>